*{
  margin: 0 auto;
  position: relative;
}
body{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#title-container{
  display:flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
  background-color: #333333;
  margin-bottom: 20px;
  padding: 8px;
}
h1{
  color: white;
  font-size: 40px;
  padding: 5px;
  margin: 0 10px;
}
#main-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#data{
  display: flex;
  flex-direction: column;
  width: 300px;
}
.data-row span{
  font-weight: bold;
  font-size: 20px;
}

.chart-container{
  margin-top: 15px;
}
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1200px !important;
  height: 700px !important;
}

@media screen and (max-width:1500px){
  #main-container{
    flex-direction: column;
  }
}
@media screen and (max-width:1200px){
  canvas{
    width: 1000px !important;
  }
}
@media screen and (max-width:1015px){
  canvas{
    width: 800px !important;
  }
}
@media screen and (max-width:800px){
  canvas{
    width: 500px !important;
  }
}
@media screen and (max-width:500px){
  canvas{
    width: 400px !important;
  }
  h1{
    font-size: 24px;
  }
}
@media screen and (max-width:370px){
  canvas{
    width: 200px !important;
  }
}
@media screen and (max-height:830px){
  canvas{
    height: 600px !important;
  }
  h1{
    font-size: 24px;
  }
}
@media screen and (max-height:740px){
  canvas{
    height: 500px !important;
  }
}
@media screen and (max-height:630px){
  canvas{
    height: 350px !important;
  }
}
@media screen and (max-height:530px){
  canvas{
    height: 300px !important;
  }
}
